.text-nav {
  box-shadow: 4px 4px 8px #c6a251, -4px -4px 8px #ffdb6d;
}

.text-nav:hover .nav-logo {
  opacity: 1;
  transform: rotate(360deg);
}

nav {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-name {
  margin: 0;
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  padding-left: 8px;
}

.nav-ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (min-width: 620px) {
  .aside {
    display: none;
  }
}

@media (max-width: 620px) {
  nav {
    padding: 15px;
    margin: 10px;
  }

  .nav {
    display: none;
  }

  .sideBar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color3);
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    height: 100dvh;
    z-index: 1000;
    outline: 5px solid var(--color7);
    outline-offset: -10px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
}

.nav-logo {
  color: var(--color7);
  width: 28px;
  height: 28px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 1s ease;
}

#nav-link {
  color: var(--color7);
  border: 1px solid var(--color7);
  border-radius: 20px;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 20%;
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}