.services-section {
  text-align: center;
  padding: 0px 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: #1a1a1a;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-align: left;

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

  /* background: var(--color3); */
  /* color: var(--color8); */
  transition: all 0.8s ease-in-out, box-shadow 0.2s ease;
}

.card-title {
  text-align: center;
  margin: 15px;
  font-weight: 700;
}

.divider {
  margin: 0 15px 15px 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.image-wrapper {
  position: relative;
  height: 160px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background-color: var(--color7);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}



.card-desc {
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #ddd;
  background-color: var(--color7);

}



.arrow-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  background: var(--color3);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: var(--color8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.card:hover .arrow-btn {
  background: transparent;


  transition: all 0.3s ease-in-out;
}