.shiny-text {
    background: linear-gradient(120deg,
            #5b1f0f 40%,

            #9e3a22 45%,

            #ffb199 50%,

            #9e3a22 55%,

            #5b1f0f 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    animation: shine 9s linear 2 both;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
        color: var(--color7);
    }
}

.shiny-text.disabled {
    animation: none;
    background: none;
}